config/config.php
data/
vendor/*/*/doc/
vendor/*/*/docs/
vendor/*/*/example/
vendor/*/*/examples/
vendor/*/*/notes/
vendor/*/*/test-suite/
vendor/*/*/tests/

public/demo
.sass-cache
composer.lock
bower_components
node_modules
npm-debug.log

.DS_Store
.AppleDouble
.LSOverride