/* Header */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	@include colors(3);
	margin: $gutter 0 0 0;
	line-height: 1;
	a {
		text-decoration: none;
	}
	& + small:not(:empty) {
		display: block;
		@include font-size(-1);
		margin-top: -0.25em;
	}
}
h1 {
	@include font-size(4);
}
h2 {
	@include font-size(2);
}
h3 {
	@include font-size(1);
}
h4 {
	@include font-size(0);
}
h5 {
	@include font-size(0);
}
h6 {
	@include font-size(0);
}

/* Link */

a {
	@include link-color(inherit);
	transition: all $speed ease;
	text-decoration: underline;
	&.positive {
		@include link-color($color-positive);
		font-weight: bold;
	}
}

/* Table */

table {
	width: 100%;
	margin: $gutter 0 0 0;
	border-spacing: 0;
	border-radius: $radius;
	border-collapse: collapse;
	th, td {
		vertical-align: top;
		padding: $gutter * 0.35 $gutter * 0.75 $gutter * 0.35 0;
		&:last-child {
			padding-right: 0;
		}
	}
	th {
		font-weight: normal;
		text-align: left;
		&, a {
			@include link-color($color-loud);
		}
	}
	thead {
		th, td {
			font-weight: bold;
		}
		&:not(.tgroup) {
			tr {
				th, td {
					border-bottom: 1px solid;
					@include colors(null, null, 3);
				}
			}
		}
		&.tgroup {
			td, th {
				color: $color-quiet;
				border-top: 1px solid;
				@include colors(null, null, 3);
			}
		}
	}
	tbody {
		th, td {
			border-top: 1px solid;
			@include colors(null, null, 1);
			transition: all $speed ease;
		}
	}
	colgroup + thead {
		tr:first-child {
			th, td {
				border-top: 0 !important;
				padding-top: 0 !important;
			}
		}
	}
	caption {
		@include font-size(-1);
		font-style: oblique;
		text-align: right;
		margin: $gutter * 0.5 0 0 0;
		caption-side: bottom;
	}
	.col-right {
		text-align: right;
	}
	.col-center {
		text-align: center;
	}
	.col-contract {
		width: 1px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.col-badge {
		width: 1px;
		white-space: nowrap;
		padding-top: $gutter * 0.3;
		padding-bottom: $gutter * 0.3;
		.badge {
			width: 100%;
		}
	}
	.col-select {
		width: 1px;
		padding-top: $gutter * 0.3;
		padding-bottom: $gutter * 0.3;
		input[type=checkbox] + label:before {
			width: $input-toggle-size - 2px;
			height: $input-toggle-size - 2px;
			background-size: $input-toggle-size - 12px;
			margin: 0;
		}
	}
	small {
		@include font-size(-2);
	}
	br + small {
		display: block;
	}
}

.list-table {
	* {
		margin-top: 0;
	}
	&-item {
		border-top: 1px solid;
		@include colors(null, null, 1);
		padding: $gutter * 0.35 0;
	}
	&-head {
		font-weight: bold;
		border-top: 0;
		padding-top: 0;
	}
	&-group {
		@include colors(null, null, 3);
		color: $color-quiet;
		font-weight: bold;
	}
}