/* General */

*, *:before, *:after {
	@include box-sizing(border-box); 
}	
html {
	@include experimental(text-size-adjust, 100%);
	font-size: $font-size;
	line-height: $line-height;
	font-family: $font-family;
	color: $color-foreground;
	font-weight: normal;
}

/* Header */

#{headers(1, 6)} { 
	font-weight: normal;
	color: $color-loud;
	margin: $gutter 0 0 0;
	line-height: 1;
}
h1 { 
	@include font-size(6);
}
h2 { 
	@include font-size(3);
}
h3 { 
	@include font-size(0);
}
h4 { 
	@include font-size(0);
}
h5 { 
	@include font-size(0);
}
h6 { 
	@include font-size(0);
}

/* Paragraph */

p { 
	margin: $gutter 0 0 0;
	&.summary { 
		@include font-size(1);
	}
	&.details { 
		color: $color-quiet;
		margin-top: 0;
	}
}

/* List */

ul, ol { 
	margin: $gutter 0 0 0;
	padding: 0;
	ul, ol { 
		margin-top: 0;
	}
	li { 
		margin: 0 0 0 $gutter;
	}
}
ul { 
	list-style: disc;
	ul { 
		list-style: circle;
		ul { 
			list-style: square;
		}
	}
}
ol { 
	list-style: decimal;
	ol { 
		list-style: lower-alpha;
		ol { 
			list-style: lower-roman;
		}
	}
}
dl { 
	margin: $gutter 0 0 0;
	dt { 
		font-weight: bold;
		float: left;
		width: (100px - $gutter);
	}
	dd { 
		margin-left: 100px;
	}
}

/* Link */

a { 
	@include link-color($color-focus);
	@include transition(all $speed ease);
	text-decoration: underline;
}

/* Emphasised & Marked */

em { 
	font-style: normal;
	color: $color-foreground;
}
strong { 
	font-weight: bold;
}
mark { 
	background-color: $color-highlight;
	@include border-radius(2px);
}

/* Quote */

blockquote { 
	font-style: oblique;
	margin: $gutter 0 0 0;
	padding: 0 $gutter;
	border-left: 1px solid $color-divide;
	@include flush;
}
q { 
	quotes: '\201C' '\201D' '\2018' '\2019';
	&:before { 
		content: open-quote;
	}
	&:after { 
		content: close-quote;
	}
}

/* Preformatted & Code */

pre, code { 
	font-family: $font-family-monospace;
	@include font-size(-1);
	line-height: 1;
}
pre { 
	margin: $gutter 0 0 0; padding: $gutter;
	@include experimental(tab-size, 4);
	background: $color-shade;
}

/* Abbreviation */

abbr { 
	border-bottom: 1px dotted;
	cursor: help;
}

/* Superscript & Subscript */

sup { 
	vertical-align: super;
	vertical-align: 5px;
}
sub { 
	vertical-align: sub;
	vertical-align: -3px;
}

/* Deleted & Inserted */

del, strike { 
	text-decoration: line-through;
}
ins, u { 
	text-decoration: underline;
}

/* Note & Error */

small { 
	color: $color-quiet;
	font-size: inherit;
}
.error { 
	color: $color-negative;
}

/* Badge */

.badge {
	background-color: $color-quiet;
	border: 1px solid $color-quiet;
	color: white;
	font-weight: normal;
	@include font-size(-1);
	padding: 0 $gutter * 0.25;
	padding-bottom: 1px;
	vertical-align: 1px;
	display: inline-block;
	td &, th & {
		width: 100%;
	}
	.sidebar & {
		color: $color-primary;
		font-weight: bold;
	}
	&::before {
		margin-right: 0;
		vertical-align: -0.2em;
	}
}
.badge-figure {
	border-radius: 1000px;
	min-width: 24px;
	text-align: center;
}
.badge-status {
	@extend .badge;
	text-transform: uppercase;
}
.badge-0,
.badge-archived {
	@extend .badge;
	background-color: white;
	color: $color-quiet;
}
.badge-draft,
.badge-pending {
	@extend .badge;
	background-color: $color-pending;
	border-color: $color-pending;
}
.badge-1 {
	@extend .badge;
	background-color: $color-positive;
	border-color: $color-positive;
}
.badge-published {
	@extend .badge;
}

.status-pending {
	color: $color-pending;
}

/* Icons */


/* Rule */

hr { 
	margin: $gutter 0;
	border: 0;
	border-top: 1px solid $color-divide;
}

/* Image */

img, svg { 
	display: inline-block;
	vertical-align: middle;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
svg {
	max-height: 100%;
}
.image {
	margin: $gutter 0 0 0;
	img, svg {
		display: block;
	}
	img {
		width: 100%;
		height: auto;
	}
}

/* Audio */

audio {
	display: inline-block;
	vertical-align: middle;
}
.audio {
	margin: $gutter 0 0 0;
	audio, object, .audio-message {
		display: block;
		width: 100%;
	}
	.audio-message {
		background: $color-shade;
		text-align: center;
		padding: $gutter;
	}
}

/* Video */

video {
	display: inline-block;
	vertical-align: middle;
}
.video {
	margin: $gutter 0 0 0;
	position: relative;
	video, object, .video-message {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.video-message {
		background: $color-shade;
		@include vertically-center(span);
		span {
			text-align: center;
			padding: $gutter;
		}
	}
	.ratio {
		display: block !important;
	}
}

/* Figures */

figure { 
	margin: $gutter 0 0 0;
	@include flush;
	figcaption { 
		@include font-size(-2);
		margin: $gutter * 0.4 0 0 0;
		display: block;
		font-weight: 500;
	}
}

/* Thumbs */

.thumbs {
	margin-top: $gutter;
	@include no-bullets;
	@include inline-blocks('li', $gutter * 0.5, $gutter * 0.5);
	li {
		width: 200px;
		figure {
			margin-top: 0;
		}
	}
}
.thumb {
	position: relative;
	background-color: white;
	outline-color: white;
	@include link-color($color-foreground);
	@include transition(background-color $speed ease, outline-color $speed ease);
	.preview {
		background-color: $color-shade;
		position: relative;
		&:before {
			content: '';
			display: block;
			@include ratio(1px, 1px);
		}
		img, 
		.text, 
		.progress {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: auto;
		}
		.text {
			text-align: center;
			@include vertically-center('span');
			span {
				color: $color-divide;
				&::before {
					margin-right: 0;
					width: 80px;
					height: 80px;
				}
			}
		}
		.progress {
			z-index: 2;
			background-color: tint($color-active, 50%);
			span {
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				overflow: hidden;
				background-color: $color-active;
				@include transition(height $speed linear);
			}
			&.out {
				background-color: transparent;
				pointer-events: none;
				span {
					bottom: auto;
					top: 0;
				}
			}
		}
		.badge {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	figcaption {
		margin-top: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: $gutter * 0.3 $gutter * 0.5 $gutter * 0.4 $gutter * 0.5;
		border-top: 1px solid $color-background;
	}
	input[type=checkbox] + label {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		cursor: default;
		&:before {
			opacity: 0.5;
			margin: $gutter * 0.5 $gutter $gutter $gutter * 0.5;
			border: transparent !important;
		}
		&:hover:before {
			opacity: 1;
		}
	}
	a {
		text-decoration: none;
		@include link-color(inherit);
	}
	&.selected {
		input[type=checkbox] + label:before {
			opacity: 1;
		}
		.preview {
			img {
				-webkit-filter: grayscale(1);
			}
		}
	}
}

/* Table */

table { 
	width: 100%;
	margin: $gutter 0 0 0;
	border-spacing: 0;
	@include border-radius($radius);
	th, td { 
		vertical-align: top;
		padding: $gutter * 0.35 $gutter * 0.75 $gutter * 0.35 0;
		&:first-child {
			padding-left: $gutter * 0.75;
		}
	}
	th { 
		font-weight: normal;
		text-align: left;
		&, a {
			@include link-color($color-loud);
		}
	}
	thead {
		background: white;
		th {
			font-weight: bold;
		}
		tr:last-child {
			th, td {
				border-bottom: $gutter * 0.25 solid $color-background;
			}
		}
	}
	tbody {
		background: white;
		th, td { 
			border-top: 1px solid $color-background;
			@include transition(all $speed ease);
		}
		tr {
			&:first-child {
				th, td {
					border-top: 0;
				}
			}
			&:hover { 
				th, td { 
					background-color: tint($color-shade, 75%);
				}
			}
		}
	}
	caption { 
		@include font-size(-1);
		font-style: oblique;
		text-align: right;
		margin: $gutter * 0.5 0 0 0;
		caption-side: bottom;
	}
	.col-status,
	.col-role {
		width: 1px;
		text-align: center;
		.status {
			width: 100%;
		}
		&:last-child {
			text-align: right;
		}
	}
	.col-type {
		width: 100px;
	}
	.col-date {
		text-align: right;
	}
	.col-select {
		width: 1px;
		padding-left: $gutter * 0.3 !important;
		padding-top: $gutter * 0.3;
		padding-bottom: $gutter * 0.3;
		input[type=checkbox] + label {
			display: block;
			&::before {
				margin: 0;
				width: 26px;
				height: 26px;
			}
		}
	}
}

/* Selectable */

.selectable-only {
	a {
		pointer-events: none;
		cursor: default;
	}
}
.selected {
	input[type=checkbox] + label:before {
		background-color: $color-active !important;
		border-color: shade($color-active, 15%) !important;
	}
}

/* Input */

/* Because line-height on form elements is ignored by Firefox, using padding-top/bottom
   creates height inconsistencies, therefore we leave padding at 0px and explictly set
   the height, to ensure height and vertical-alignment consistency. Text is vertically
   aligned in the center automatically by the browser (except selects in Firefox) */
$input-border-width:	1px;
$input-padding: 		6px;
$input-padding-horiz:	$input-padding + 4px;
$input-height:			round($font-size * $line-height)
						+ ($input-padding * 2)
						+ ($input-border-width * 2);
$input-toggle-size:		$input-height - 10px;

input,
select,
textarea,
.btn { 
	@include transition(all $speed linear);
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea,
select,
.value,
.content { 
	display: inline-block;
	@include font-size(0);
	font-family: $font-family;
	color: $color-foreground;
	text-align: left;
	font-weight: normal;
	height: $input-height;
	line-height: $input-height - ($input-border-width * 2);
	vertical-align: baseline;
	width: $width-12;
	margin: 0;
	padding: 0 $input-padding-horiz;
	background-color: white;
	border: $input-border-width solid;
	border-color: $color-input;
	@include border-radius($radius);
	outline: 0;
	-webkit-appearance: none;
	&[disabled], &.disabled {
		background-color: $color-shade;
	}
	&:focus:invalid {
		border-color: $color-negative;
	}
	@include placeholder {
		color: $color-quieter;
	}
	.sidebar & {
		border-color: $color-primary;
		border-bottom-color: shade($color-primary, 30%);
		background-color: $color-primary;
		color: inherit;
		padding-left: $gutter;
		padding-right: $gutter;
	}
	&.icon::before {
		opacity: 0.5;
	}
}
input[type=checkbox],
input[type=radio] {
	position: absolute;
	left: -10000px;
	& + label {
		position: relative;
		&:before {
			content: '';
			display: inline-block;
			width: $input-toggle-size;
			height: $input-toggle-size;
			border: 1px solid $color-input;
			background: white;
			vertical-align: -8px;
			margin-right: 0.25em;
			background-position: center;
			background-repeat: no-repeat;
			@include transition(all $speed linear);
		}
	}
	&:focus + label:before {
		border-color: $color-focus;
	}
	&[disabled] + label:before {
		background-color: $color-shade;
	}
}
input[type=checkbox] + label:before {
	background-size: 80%;
}
input[type=radio] + label:before {
	border-radius: 50%; 
	background-size: 55%;
}
input[type=checkbox]:checked + label:before {
	background-image: inline-image('icon-dark/check-mark.svg');
}
input[type=radio]:checked + label:before {
	background-image: inline-image('icon-dark/circle.svg');
}
select { 
	width: auto;
	optgroup {
		@include font-size(0);
		font-family: $font-family;
		font-style: normal;
		font-weight: normal;
		color: $color-quiet;
		text-indent: 3px;
		option {
			color: $color-foreground;
		}
	}
	padding-right: 0;
	/* Include an arrow icon for WebKit */
	@media (-webkit-min-device-pixel-ratio: 0) {
		background-position: 100% 50%;
		background-repeat: no-repeat;
		@include image(arrow-select);
		padding-right: 35px;
	}
	/* Fix Firefox not vertically centering text */
	@media (min--moz-device-pixel-ratio: 0) {
		/* Replicate the problem line-height value from the default CSS, in case
		   it's changed in future, to avoid knock-on effects from this fix */
		line-height: normal !important;
		padding: $input-padding + 1px;
	}
}
textarea { 
	height: auto;
	display: block;
	overflow: auto;
	resize: vertical;
	line-height: $line-height;
	padding-top: $input-padding;
	padding-bottom: $input-padding;
	&.monospaced {
		font-family: $font-family-monospace;
		@include font-size(-1);
	}
	&.editor-content {
		color: white;
	}
	&.editor-code {
		color: white;
	}
}
.value {
	overflow: hidden;
	white-space: nowrap;
	vertical-align: bottom;
	text-overflow: ellipsis;
	.placeholder {
		color: $color-quieter;
	}
}
.content {
	height: auto;
	padding: $input-padding;
	line-height: $line-height;
	.content-controls {
		float: right;
		.btn {
			vertical-align: middle;
		}
	}
	.placeholder {
		color: $color-quieter;
		height: 48px;
		line-height: 48px - ($input-border-width * 2);
		vertical-align: baseline;
		padding: 0 $input-padding-horiz;
		border: transparent $input-border-width solid;
		display: inline-block;
	}
}

input[type=reset],
input[type=submit],
input[type=button],
.btn { 
	font-family: $font-family;
	@include font-size;
	height: $input-height;
	line-height: $input-height - ($input-border-width * 2);
	vertical-align: baseline;
	width: auto;
	padding: 0 $input-padding-horiz;
	margin: 0;
	font-weight: normal;
	@include link-color(white !important);
	background-color: $color-quiet;
	border: $input-border-width solid;
	border-color: $color-quiet;
	@include border-radius($radius);
	outline: 0;
	cursor: pointer;
	text-decoration: none !important;
	-webkit-appearance: none;
	display: inline-block;
	.fa {
		padding-right: 0.1em;
	}
	&[disabled] {
		opacity: 0.25;
	}
	&:hover { 
		background-color: shade($color-quiet, 10%) !important;
		border-color: shade($color-quiet, 10%) !important;
	}
	&.active {
		@include arrow(38px, 1px);
	}
	&.btn-collapse {
		max-height: 40px;
		overflow: hidden;
		&[disabled] {
			opacity: 1;
			border-top-width: 0; 
			border-bottom-width: 0;
			max-height: 0;
		}
	}
	&.btn-block {
		display: block;
		width: 100%;
		text-align: center;
		margin: $gutter 0 0 0;
		& + .btn-block {
			margin-top: 0;
		}
	}
	&.btn-focus {
		background-color: $color-focus;
		border-color: $color-focus;
		&:hover { 
			background-color: shade($color-focus, 10%) !important;
			border-color: shade($color-focus, 10%) !important;
		}
	}
	&.btn-pending {
		background-color: $color-pending;
		border-color: $color-pending;
		&:hover { 
			background-color: shade($color-pending, 10%) !important;
			border-color: shade($color-pending, 10%) !important;
		}
	}
	&.btn-positive {
		background-color: $color-positive;
		border-color: $color-positive;
		&:hover { 
			background-color: shade($color-positive, 10%) !important;
			border-color: shade($color-positive, 10%) !important;
		}
	}
	&.btn-negative {
		background-color: $color-negative;
		border-color: $color-negative;
		&:hover { 
			background-color: shade($color-negative, 10%) !important;
			border-color: shade($color-negative, 10%) !important;
		}
	}
	&.btn-quiet {
		background-color: $color-quiet;
		border-color: $color-quiet;
	}
	&.btn-quieter {
		background-color: $color-quieter;
		border-color: $color-quieter;
	}
	&.btn-icon {
		width: 48px;
		height: 48px;
		line-height: 48px;
		text-align: center;
		overflow: hidden;
		&::before {
			width: 20px;
			height: 20px;
			margin-right: 0;
			vertical-align: -3px;
		}
	}
	small {
		color: transparentize(white, 0.35);
	}
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea,
select { 
	&:focus {
		border-color: $color-focus;
	}
}

input,
select,
select option,
select optgroup,
textarea,
.btn,
.value {
	&[disabled], &.disabled {
		@include experimental(user-select, none);
		pointer-events: none;
		cursor: default;
	}
}

.dropdown {
	position: relative;
	cursor: default;
	display: inline-block;
	vertical-align: bottom;
	width: 100%;
	z-index: 500;
	.value {
		background-position: 100% 50%;
		background-repeat: no-repeat;
		@include image(arrow-select);
		padding-right: 35px;
	}
	.menu {
		margin-top: 0;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		white-space: nowrap;
		max-height: 0;
		border-top-width: 0;
		border-bottom-width: 0;
		overflow: hidden;
		@include transition(max-height $speed ease);
		@include box-shadow(0 5px 0 0 transparentize(black, 0.95));
		&:hover {
			overflow-y: auto;
		}
	}
	&:hover .menu {
		max-height: 300px;
		border-bottom-width: 1px;
	}
	.sidebar & .value {
		@include image(arrow-dropdown);
	}
}

::-moz-focus-inner {
	border: 0;
	padding: 0;
}
::-webkit-search-decoration,
::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
::-ms-clear {
	display: none;
}

/* Form */

form { 
	margin: $gutter 0 0 0;
	padding: 0;
	@include flush;
}
fieldset { 
	margin: 0;
	padding: 0;
	border: 0;
	@include flush; 
}
legend { 
	display: none;
}
.form-block {
	margin: $gutter * 1.25 0 0 0;
	background-color: white;
	& + .form-block {
		margin-top: $gutter * 0.25;
	}
	.form-legend {
		padding: $gutter;
		float: left;
		width: 240px - ($gutter * 3);
		@include flush;
		@include font-size(-1);
		h2 {
			@include force-wrap;
		}
		p {
			margin-top: $gutter * 0.5;
		}
	}
	.form-items {
		border-left: 1px solid $color-background;
		margin-left: 240px - ($gutter * 1.5);
		@include flush;
	}
}
.form-item { 
	margin: $gutter 0 0 0;
	background: white;
	padding: $gutter;
	+ .form-item {
		margin-top: 0;
		border-top: 1px solid $color-background;
	}
	> label {
		color: $color-loud;
		display: block;
		font-weight: bold;
		line-height: $line-height-tight;
		+  div {
			margin: $gutter * 0.35 0 0 0;
		}
	}
	> div { 
		@include flush;
		p { 
			@include font-size(-1);
			margin-top: $gutter  * 0.35;
			line-height: $line-height-tight;
			& + p {
				margin-top: 0;
			}
		}
		label { 
			padding-right: 0.5em;
		}
	}
	&.optional {
		> label:after {
			content: 'Optional';
			line-height: $line-height-tight;
			color: tint($color-quiet, 0%);
			margin-left: 0.25em;
			float: right;
			font-weight: normal;
		}
	}
}

/* Links */

.links {
	ul {
		@include no-bullets;
		@include collapse-whitespace(li);
		li {
			margin-left: round($gutter * 0.5);
			padding-left: round($gutter * 0.5);
			border-left: 1px solid;
			@include inline-block(top);
			&:first-child {
				margin-left: 0;
				padding-left: 0;	
				border-left: 0;
			}	
		}
	}
}

/* Meta */

.meta {
	margin-top: $gutter * 0.4;
	@include no-bullets;
	@include inline-blocks('> li', $gutter * 0.75);
	color: $color-quiet;
	i {
		color: $color-foreground;
	}
	a {
		text-decoration: none;
	}
	.icon::before {
		opacity: 0.5;
	}
}

/* Toolbar */

.toolbar {
	@include no-bullets;
	@include inline-blocks('> li', $gutter * 0.25);
	&:first-child {
		float: right;
		@include flush-next;
	}
	> li {
		line-height: $input-height;
		vertical-align: middle;
		& + li.space {
			padding-left: $gutter * 0.75;
		}
	}
	a {
		text-decoration: none;
	}
}

/* Filters */

.filters {
	margin-top: $gutter;
	@include no-bullets;
	@include inline-blocks('> li');
	display: flex;
	flex-direction: row;
	z-index: 500;
	position: relative;
	> li {
		flex: 2;
		&:first-child {
			flex: 3;
		}
	}
	.value {
		border-left: 0;
	}
	.dropdown .menu {
		left: -1px;
	}
}

/* Uploadable */

.uploadable {
	.uploadable-input {
		display: none;
	}
}

/* Search */

.search {
	position: relative;
	&::before {
		color: $color-quiet;
		position: absolute;
		top: 50%;
		left: $input-padding-horiz + $input-border-width;
		margin-top: -8px;
	}
	input {
		padding-left: $input-padding-horiz + $input-border-width + 15px + 7px;
	}
}

/* Expandable */

.expandable {
	.expandable-body {
		max-height: 0;
		overflow: hidden;
		@include transition(max-height $speed ease);
		@include flush;
	}
	.expandable-toggle {
		border-top: 1px solid $color-background;
		display: block;
		background-color: white;
		text-align: right;
		color: $color-focus;
		padding: $gutter * 0.3 $gutter;
		cursor: pointer;
		@include transition(background $speed ease);
		&:hover {
			color: white;
			background-color: $color-focus;
		}
		i {
			@include transition(transform $speed ease);
		}
	}
	&.active {
		.expandable-body {
			border-top: 1px solid $color-background;
			max-height: 500px;
		}
		.expandable-toggle i {
			@include transform(rotate(180deg));
		}
	}
}

/* Clickable */

.clickable {
	a {
		@include hover-link;
		&.hover {
			text-decoration: underline;
		}
	}
	&:hover {
		cursor: pointer;
	}
}

/* Status */

.status {
	color: $color-quiet;
	strong {
		color: $color-foreground;
	}
	.badge {
		margin: 0 2px;
	}
}

/* Menu */

.menu {
	margin: $gutter 0 0 0;
	border: 1px solid $color-quieter;
	ul {
		margin: 0;
		background-color: white;
		@include no-bullets;
	}
	li {
		border-top: 1px solid $color-shade;
		&:first-child {
			border-top: 0;
		}
	}
	.item {
		padding: $gutter * 0.25 $input-padding-horiz;
		display: block;
		cursor: pointer;
		text-decoration: none;
		.badge {
			float: right;
			margin-right: $gutter * 0.25;
		}
		&:hover {
			background-color: tint($color-shade, 75%);
		}
	}
	&.menu-simple {
		border-width: 0;
		li {
			border-width: 0;
		}
	}
	.sidebar & {
		border-color: $color-primary;
		border-bottom-color: shade($color-primary, 30%);
		ul {
			background-color: $color-primary;
		}
		li {
			border-color: shade($color-primary, 15%);
		}
		.item {
			padding-left: $gutter;
			padding-right: $gutter;
			&:hover,
			&.active {
				color: white;
				background-color: shade($color-primary, 10%);
			}
			&.active {
				@include arrow(34px, 0, $color-background);
			}
		}
	}
}

/* Tree */

.structure {
	margin: $gutter 0 0 0;
	.tree {
		margin-top: 0;
	}
}
.tree {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tree-list {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.tree-list .tree-list {
	padding-left: $gutter;
}
.tree-collapsed .tree-list {
	display: none;
}
.tree-node,
.tree-empty,
.tree-placeholder {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}
.tree-node {
	&::before {
		content: '';
		position: absolute;
		top: 7px;
		height: 12px;
		width: 12px;
		left: $gutter;
		z-index: 1;
		background-color: transparentize(white, 0.9);
	}
	button {
		position: absolute;
		z-index: 1;
		padding: 0;
		top: 0;
		left: 0;
		width: $gutter * 2;
		z-index: 2;
		height: 26px;
		text-align: center;
		cursor: pointer;
		border: 0;
		background-color: transparent !important;
		outline: 0;
		&[data-action=expand] span::before {
			@include icon(plus, 8px, dark);
		}
		&[data-action=collapse] span::before {
			@include icon(minus, 8px, dark);
		}
		span {
			position: absolute;
			top: 7px;
			height: 12px;
			width: 12px;
			background-color: transparentize(white, 0.2);
			@include hide-text;
			&::before {
				content: '';
				display: block !important;
				position: absolute;
				top: 50%; 
				left: 50%;
				margin-top: -4px;
				margin-left: -4px;
			}
		}
		&:hover span {
			background-color: white;
		}
	}
	.tree-item {
		@include font-size(-1);
		text-decoration: none;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
		padding: $gutter * 0.1 $gutter $gutter * 0.15 $gutter * 2;
		&:hover,
		&.active {
			@include link-color(white);
			background-color: shade($color-primary, 10%);
		}
		&.active {
			@include arrow(26px, 0, $color-background);
		}
		&.tree-item-hidden {
			@include link-color(transparentize(white, 0.6));
		}
		&.tree-item-draft,
		&.tree-item-pending {
			@include link-color($color-pending);
			&.tree-item-hidden {
				@include link-color(transparentize($color-pending, 0.6));
			}
		}
		&.tree-item-archived {
			text-decoration: line-through;
		}
		.tree-move & {
			padding-right: $gutter * 1.25 + 16px;
		}
	}
}
.tree-handle {
	display: none;
	cursor: move;
	position: absolute;
	top: 0;
	left: $gutter * 1.65;
	right: 0;
	height: 26px;
	&::before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 50%;
		right: $gutter;
		margin-top: -8px;
		@include icon(menu);
		opacity: 0.5;
	}
	&:hover {
		&::before {
			opacity: 1;
		}
	}
	.tree-move & {
		display: block;
	}
}
.tree-placeholder,
.tree-empty {
	background-position: right;
	background-color: $color-active;
}
.tree-drag {
	background-color: shade($color-primary, 10%);
	position: absolute;
	pointer-events: none;
	z-index: 1000;
	margin-left: -127px;
	&[style] {
		opacity: 0.4 !important
	}
	&, a {
		@include link-color(white);
	}
}

/* Stackable */

.stackable {
	margin: $gutter 0 0 0;
	.stackable-items {
		@include no-bullets;
		margin: 0;
	}
	.stackable-controls {
		position: absolute;
		bottom: $input-padding-horiz;
		right: $input-padding-horiz;
		z-index: 100;
		opacity: 0;
		pointer-events: none;
		@include transition(opacity $speed ease);
		.btn {
			vertical-align: middle;
		}
	}
	.stackable-item {
		position: relative;
		margin-top: $gutter * 0.25;
		@include flush();
		&:first-child {
			margin-top: 0;
		}
		&:hover {
			.stackable-controls {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
	.stackable-placeholder {
		background-color: $color-active;
		margin-top: $gutter * 0.25;
	}
	.stackable-helper {
		background-color: $color-divide;
		opacity: 0.4;
	}
	.stackable-move {
		cursor: move;
	}
	.stackable-add {
		margin-top: $gutter * 0.5;
	}
}

/* Form Name Value */

.form-group {
	margin: $gutter * 0.25 0 0 0;
	&.form-group-horizontal {
		display: flex;
		flex-direction: row;
		input,
		select,
		.mce-tinymce,
		.content,
		.value {
			flex: 1;
			border-left-width: 0;
			&:first-child {
				border-left-width: 1px;
			}
			&.width-1,
			&.width-2,
			&.width-3,
			&.width-4,
			&.width-5,
			&.width-6,
			&.width-7,
			&.width-8,
			&.width-9,
			&.width-10,
			&.width-11,
			&.width-12 {
				flex: none;
			}
		}
	}
	&.form-group-vertical {
		input,
		select,
		textarea,
		.mce-tinymce.mce-tinymce[style],
		.content,
		.value {
			border-top-width: 0 !important;
			&:first-child {
				border-top-width: 1px !important;
			}
		}
	}
}

/* Card */

.card {
	img {
		float: left;
		margin: 0 $gutter * 0.5 0 0;
	}
}

/* TinyMCE */

.mce-tinymce * {
	background-image: none !important;
	box-shadow: none !important;
}
.mce-tinymce {
	&.mce-panel,
	.mce-panel {
		border-radius: 0;
		border-color: $color-input;
	}
	.mce-menu-item-chalk {
		i:before {
			color: $color-focus;
		}
	}
	.mce-menu-item:hover,
	.mce-menu-item.mce-selected,
	.mce-menu-item:focus,
	.mce-menu-item:hover i[style],
	.mce-menu-item.mce-selected i[style],
	.mce-menu-item:focus i[style],
	.mce-menu-item:hover span[style],
	.mce-menu-item.mce-selected span[style],
	.mce-menu-item:focus span[style] {
		color: white !important;
	}
	.mce-btn-group .mce-first {
		border-radius: 0;
	}
}

/* Ace */

.ace_editor {
	height: 200px;
	border: 1px solid $color-input;
}

/* Widths */

.width-1 { 
	width: $width-1 !important;
}
.width-2 { 
	width: $width-2 !important;
}
.width-3 { 
	width: $width-3 !important;
}
.width-4 { 
	width: $width-4 !important;
}
.width-5 { 
	width: $width-5 !important;
}
.width-6 { 
	width: $width-6 !important;
}
.width-7 { 
	width: $width-7 !important;
}
.width-8 { 
	width: $width-8 !important;
}
.width-9 { 
	width: $width-9 !important;
}
.width-10 { 
	width: $width-10 !important;
}
.width-11 { 
	width: $width-11 !important;
}
.width-12 { 
	width: $width-12 !important;
}