/* Icons */

$icons: (
	add:		plus-2,
	archive:	archive,
	cancel:		x-mark,
	content:	text-file-2,
	delete:		trash-can-9,
	drag:		menu,
	false:		x-mark,
	history:	time,
	logout:		eject-2,
	move:		cursor-move-2,
	ok:			check-mark,
	publish:	globe-4,
	remove:		minus-2,
	restore:	refresh-2,
	search:		magnifier-2,
	settings:	gear,
	status:		check-mark-5,
	structure:	sitemap,
	true:		check-mark,
	updated:	calendar,
	upload:		upload-6,
	user:		user-2,
	view:		share-4,
	positive:	check-mark-3,
	negative:	x-mark-3,
	browse:		folder-7
);
@each $class, $icon in $icons {
	.icon-#{$class} {
		@include attach(before, 0.2em, -0.15em) { @include icon($icon); };
	}
}