/* Font Face */

@font-face {
	font-family: 'IcoMoon-Free';
	src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Base */

@import '_icons-icomoon.scss';

@mixin icon-base() {
	font-family: 'IcoMoon-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: inline-block;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	@include icon-base();
	vertical-align: -1px;
	padding-right: 3px;
}

/* Icons */

$icons: (
	add:		plus,
	archive:	box-add,
	cancel:		cross,
	content:	file-text2,
	delete:		bin2,
	false:		cross,
	logout:		exit,
	move:		enlarge,
	ok:			checkmark,
	publish:	earth,
	remove:		minus,
	restore:	undo2,
	settings:	cog,
	status:		radio-checked,
	structure:	tree,
	true:		checkmark,
	updated:	calendar,
	view:		new-tab,
	next: 		arrow-right2,
	last: 		arrow-right2,
	prev: 		arrow-left2,
	first: 		arrow-left2,
	positive:	checkmark,
	negative:	cross,
	subtype:	files-empty,
	browse:		folder-open
);

@each $class, $name in $icons {
	.icon-#{$class} {
		@extend .icon-#{$name};
	}
}

.icon-move:before {
	@include transform(rotate(45deg) scale(0.8, 0.8));
}