/* Page */

html { 
	background: $color-background;
	overflow-y: none;
}
html, body {
	margin: 0;
	height: 100%;
}

/* Layout */

.flex-row,
.flex-col {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;	
	> * {
		@include flush;
		position: relative;
	}
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex {
	flex: 1;
}

/* Header, Body, Footer */

.header, 
.body,
.footer {
	@include flush;
}
.header {
	padding: $gutter * 0.75 $gutter * 1.5;
	border-bottom: 1px solid $color-divide;
}
.body {
	padding: $gutter * 1.25 $gutter * 1.5;
	overflow: auto;
}
.footer {
	padding: $gutter * 0.75 $gutter * 1.5;
	border-top: 1px solid $color-divide;
}

/* Bars */

.topbar {
	background-color: white;
	padding: $gutter * 0.75 $gutter * 1.5;
	border-bottom: 0;
	a {
		@include link-color($color-foreground);
	}
	h1 {
		margin-top: 0;
		text-align: center;
		font-weight: bold;
		line-height: $input-height;
		@include font-size(0);
	}
	.notifications {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.toolbar {
		float: right; 
		&:first-child {
			float: left;
		}
	}
}
.sidebar {
	width: 22%;
	min-width: 280px;
	.footer	{
		border-top: 0;
		background: shade($color-primary, 60%);
		text-align: center;
		padding: $gutter * 0.5;
		@include font-size(-2);
		@include flush;
		&, a {
			@include link-color($color-quiet);
			text-decoration: none;
		}	
	}
}

/* Notifications */

.notifications {
	margin-top: 0;
	@include no-bullets;
	position: relative;
	.notification {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		@include transition(bottom $speed ease);
		&.notification-show {
			bottom: -68px;
		}
	}
}
.notification {
	line-height: $input-height;
	padding: $gutter * 0.75 $gutter * 1.5;
	background-color: transparentize($color-quiet, 0.1);
	text-align: center;
	color: white;
	cursor: pointer;
	&::before {
		margin-right: 0.5em;
		width: 22px;
		height: 22px;
		vertical-align: -4px;
	}
}
.notification-positive {
	background-color: transparentize($color-positive, 0.1);
}
.notification-negative {
	background-color: transparentize(shade($color-negative, 5%), 0.1);
}

/* Modal */

.modal {
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: $gutter * 0.75;
	&:before {
		content: '';
		position: absolute;
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0;
		background-color: transparentize(shade($color-primary, 50%), 0.25);
	}
	.body {
		padding-bottom: 0;
		.form-item,
		.expandable-body,
		.expandable-toggle {
			margin-left: $gutter * -1.5;
			margin-right: $gutter * -1.5;
			padding-left: $gutter * 1.5;
			padding-right: $gutter * 1.5;
		}
	}
	.body-flush {
		padding: 0;
		.editor-code,
		.editor-content,
		.ace_editor {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border: 0;
		}
	}
}
.modal-loader {
	position: absolute;
	top: $gutter * 1.25;
	right: $gutter * 1.25;
	width: $gutter;
	height: $gutter;
	background-color: $color-active;
	@include animation(spin 1s infinite linear);
}
.modal-content {
	position: relative;
	margin: 0 auto;
	max-width: 800px;
	max-height: 100%;
	background-color: $color-background;
	@include flush;
}
.modal-fullscreen {
	position: absolute;
	top: $gutter * 0.75;
	right: $gutter * 0.75;
	bottom: $gutter * 0.75;
	left: $gutter * 0.75;
	margin: auto;
	height: auto;
	max-width: none;
	max-height: none;
}