/* Page */

html { 
	@include colors(0, 0);
	overflow-y: none;
}
html, body {
	margin: 0;
	height: 100%;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparentize($color-primary, 0.9);
}
::-webkit-scrollbar-thumb {
    background: transparentize($color-primary, 0.8);
}

/* Layout */

@include media(800px) {
	.flex-row,
	.flex-col {
		@include display-flex;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		> * {
			@include flush;
			@include flex-shrink(0);
			position: relative;
		}
	}
	.flex-row {
		@include flex-direction(row);
	}
	.flex-col {
		@include flex-direction(column);
		& > * {
			&:first-child {
				border-top: 0;
			}
		}
	}
	.flex, 
	.flex-1 {
		@include flex(1);
		@include flex-shrink(1);
	}
	.flex-2 {
		@include flex(2);
		@include flex-shrink(1);
	}
	.flex-3 {
		@include flex(3);
		@include flex-shrink(1);
	}
	.flex-4 {
		@include flex(4);
		@include flex-shrink(1);
	}
}

/* Header, Body, Footer */

.topbar {
	@include colors(0, 1);
	@include media(800px) {
		.toolbar {
			float: left; 
			&:first-child {
				float: right;
			}
		}
	}
}
.leftbar {
	@include colors(0, 1);
	@include media(800px) {
		width: 20%;
		min-width: 200px;
		border-right: 1px solid;
		@include colors(null, null, 4);
	}
}
.header {
	@include flush;
	@include colors(0, 0);
	padding: $gutter-y $gutter-x;
	h1 {
		line-height: $input-height;
		@include font-size($input-height - 6px);
	}
	&.topbar,
	.topbar & {
		padding: 0;
		h1 {
			margin-top: 0;
			text-align: center;
			font-weight: bold;
			line-height: $input-height + ($input-extra * 2);
			color: white;
			@include font-size(0);
		}
		.input-pseudo {
			border-color: transparent;
			background-color: transparent;
			padding-left: $gutter-x;
			padding-right: $gutter-x;
		}
		.dropdown .menu {
			border-color: transparent;		
		}
		.menu .item,
		.btn {
			padding-left: $gutter-x;
			padding-right: $gutter-x;		
		}
		.toolbar {
			padding-left: $gutter-x;
			padding-right: $gutter-x;
		}
		&.leftbar,
		.leftbar & {
			.input-pseudo {
				padding-left: $gutter-x-sidebar;
				padding-right: $gutter-x-sidebar;
			}
			.menu .item,
			.btn {
				padding-left: $gutter-x-sidebar;
				padding-right: $gutter-x-sidebar;		
			}
			.toolbar.toolbar-right {
				padding-right: $gutter-x-sidebar;
			}
		}
	}
}
.body {
	@include flush;
	padding: $gutter-y-body $gutter-x;
	overflow-y: auto;
	&.leftbar,
	.leftbar & {
		padding-top: $gutter-y;
		padding-bottom: $gutter-y;
		padding-left: 0;
		padding-right: 0;
	}
}
.footer {
	@include flush;
	padding: $gutter-y $gutter-x;
	&.leftbar,
	.leftbar & {
		padding-left: $gutter-x-sidebar;
		padding-right: $gutter-x-sidebar;
	}
}
.flex-col {
	> *:not(:first-child) {
		border-top: 1px solid;
		@include colors(null, null, 3);
	}
	.bottombar {
		border-top: 0;
	}
}

/* Hanging */

.hanging.hanging {
	@include flush;
	margin-left: $gutter-x * -1;
	margin-right: $gutter-x * -1;
	margin-top: $gutter-y;
	margin-bottom: $gutter-y * -1;
	padding-left: $gutter-x;
	padding-right: $gutter-x;
	border-top: 1px solid;
	line-height: $input-height;
	@include colors(null, null, 3);
	.toolbar {
		margin-left: $input-padding-horiz * -1;
		margin-right: $input-padding-horiz * -1;
		input,
		.input-pseudo {
			border: 0;
		}
		li + li {
			input,
			.input-pseudo {
				border-left: 1px solid;
				@include colors(null, null, 3);
			}
		}
	}
}

/* Notifications */

.notifications {
	margin-top: 0;
	@include no-bullets;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5000;
	.notification {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		@include transition(opacity $speed ease);
		&.notification-show {
			opacity: 1;
		}
	}
}
.notification {
	line-height: $input-height + ($input-extra * 2);
	padding: 0 $gutter-x 0 $gutter-x;
	background-color: transparentize($color-quiet, 0.1);
	color: white;
	cursor: default;
	white-space: nowrap;
	text-align: center;
	@include font-size(-1);
	&:before {
		font-size: 1.25em;
		margin-right: 0.25em;
		vertical-align: -0.2em;
	}
}
.notification-positive {
	background-color: transparentize($color-positive, 0.05);
}
.notification-negative {
	background-color: transparentize(shade($color-negative, 5%), 0.05);
}

/* Modal */

.modal {
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: $gutter * 0.5;
	padding-right: ($gutter * 0.5) + $input-height;
	&:before {
		content: '';
		position: absolute;
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0;
		background-color: transparentize(shade($color-primary, 50%), 0.25);
	}
	.body-flush {
		padding: 0;
		.editor-code,
		.editor-content,
		.ace_editor {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border: 0;
		}
	}
}
.modal-inner {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.modal-loader {
	position: absolute;
	top: $gutter * 0.5;
	right: $gutter * 0.5;
	width: $input-height;
	height: $input-height;
	background-color: $color-active;
	@include animation(spin 1s infinite linear);
}
.modal-content {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	@include colors(null, 0);
	@include flush;
}
.modal-button {
	position: absolute;
	top: $gutter * 0.5;
	right: $gutter * 0.5;
	margin: 0 !important;
}