/* Page */

html { 
	@include colors(0, 0);
	overflow-y: none;
}
html, body {
	margin: 0;
	height: 100%;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparentize($color-primary, 0.9);
}
::-webkit-scrollbar-thumb {
    background: transparentize($color-primary, 0.8);
}

/* Layout */

.flex-col {
	& > * {
		border-top: 1px solid;
		@include colors(null, null, 4);
	}
}
@include media(800px) {
	.flex-row,
	.flex-col {
		@include display-flex;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		> * {
			@include flush;
			@include flex-shrink(0);
			position: relative;
		}
	}
	.flex-row {
		@include flex-direction(row);
	}
	.flex-col {
		@include flex-direction(column);
		& > * {
			&:first-child {
				border-top: 0;
			}
		}
	}
	.flex, 
	.flex-1 {
		@include flex(1);
		@include flex-shrink(1);
	}
	.flex-2 {
		@include flex(2);
		@include flex-shrink(1);
	}
	.flex-3 {
		@include flex(3);
		@include flex-shrink(1);
	}
	.flex-4 {
		@include flex(4);
		@include flex-shrink(1);
	}
}

/* Header, Body, Footer */

.header, 
.body,
.footer {
	@include flush;
	padding: $gutter-y $gutter-x;
	.sidebar & {
		padding-left: $gutter-x-sidebar;
		padding-right: $gutter-x-sidebar;
	}
}
.header, 
.footer {
	padding-top: $gutter-y;
	padding-bottom: $gutter-y;
}
.body {
	padding-top: $gutter-y-body;
	padding-bottom: $gutter-y-body;
	overflow: auto;
	.sidebar & {
		padding-top: $gutter-y;
		padding-bottom: $gutter-y;
	}
}
.header {
	@include colors(null, 2);
}
.hanging.hanging {
	@include flush;
	padding: $gutter-y $gutter-x;
	margin-left: $gutter-x * -1;
	margin-right: $gutter-x * -1;
	margin-top: $gutter-y-body * -1 !important;
	border-bottom: 1px solid;
	margin-bottom: $gutter-y-body;
	@include colors(null, null, 3);
}
.sidebar {
	.header {
		background-color: transparent;
	}
}
.main {
	.header {
		@include colors(null, 0.5);
	}
	.hanging {
		@include colors(null, 0.5, 3);
	}
	.flex-col > * {
		@include colors(null, null, 3);
	}
}

/* Bars */

.topbar {
	h1 {
		margin-top: 0;
		text-align: center;
		font-weight: bold;
		line-height: $input-height;
		@include font-size(0);
	}
	.notifications {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
	}
}
.sidebar {
	@include colors(0, 1);
	::-webkit-scrollbar-track {
	    background: transparentize(white, 0.9);
	}
	::-webkit-scrollbar-thumb {
	    background: transparentize(white, 0.8);
	}
}
@include media(800px) {
	.topbar {
		.toolbar {
			float: left; 
			&:first-child {
				float: right;
			}
		}
	}
	.sidebar {
		width: 300px;
		border-right: 1px solid;
		@include colors(null, null, 4);
	}
}

/* Notifications */

.notifications {
	margin-top: 0;
	@include no-bullets;
	position: relative;
	.notification {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		@include transition(bottom $speed ease);
		&.notification-show {
			bottom: -65px;
		}
	}
}
.notification {
	line-height: $input-height;
	padding: $gutter-y $gutter-x $gutter-y + 1 $gutter-x;
	background-color: transparentize($color-quiet, 0.1);
	text-align: center;
	color: white;
	cursor: pointer;
	&:before {
		font-size: 24px;
		margin-right: 0.25em;
		vertical-align: -0.15em;
	}
}
.notification-positive {
	background-color: transparentize($color-positive, 0.1);
}
.notification-negative {
	background-color: transparentize(shade($color-negative, 5%), 0.1);
}

/* Modal */

.modal {
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: $gutter * 0.75;
	&:before {
		content: '';
		position: absolute;
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0;
		background-color: transparentize(shade($color-primary, 50%), 0.25);
	}
	.body {
		padding-bottom: 0;
		.form-item,
		.expandable-body,
		.expandable-toggle {
			margin-left: $gutter * -1.5;
			margin-right: $gutter * -1.5;
			padding-left: $gutter * 1.5;
			padding-right: $gutter * 1.5;
		}
	}
	.body-flush {
		padding: 0;
		.editor-code,
		.editor-content,
		.ace_editor {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border: 0;
		}
	}
}
.modal-loader {
	position: absolute;
	top: $gutter * 1.25;
	right: $gutter * 1.25;
	width: $gutter;
	height: $gutter;
	background-color: $color-active;
	@include animation(spin 1s infinite linear);
}
.modal-content {
	position: relative;
	margin: 0 auto;
	max-width: 800px;
	max-height: 100%;
	@include colors(null, 0);
	@include flush;
}
.modal-fullscreen {
	position: absolute;
	top: $gutter * 0.75;
	right: $gutter * 0.75;
	bottom: $gutter * 0.75;
	left: $gutter * 0.75;
	margin: auto;
	height: auto;
	max-width: none;
	max-height: none;
}