/* Media */

@mixin media($min: null, $max: null) {
	@if $min == high-dpi {
		@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) { @content; }
	} @else if $min == print {
		@media print { @content; }
	} @else {
		@if $min != null and $max != null {
			@media screen and (min-width: $min) and (max-width: $max) { @content; }
		} @else if $min != null {
			@media screen and (min-width: $min) { @content; }
		} @else if $max != null {
			@media screen and (max-width: $max) { @content; }
		} @else {
			@media screen { @content; }
		}
	}
}

/* Image */

@mixin image($name) {
	background-image: inline-image($name + '.svg');
}

/* Flush */

@mixin flush { 
	> *:first-child	{
		margin-top: 0 !important;
	}
}
@mixin flush-next { 
	&:first-child + * {
		margin-top: 0 !important;
	}
}

/* Text */

@mixin font-size($value: 0) {
	@if (unitless($value)) {
		font-size: math-pow($font-scale, strip-units($value)) * $font-size;
		font-size: math-pow($font-scale, strip-units($value)) * 1rem;
	} @else {
		font-size: $value;
		font-size: ($value / $font-size) * 1rem;
	}
}
@mixin link-color($color) {
	color: $color;
	// @include link-colors(
	// 	$color,
	// 	$color,
	// 	$color,
	// 	$color,
	// 	$color
	// );
}
@mixin no-bullets {
  list-style: none;
  li {
    @include no-bullet;
  }
}
@mixin no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* Inline Block */

@mixin inline-blocks($selector, $x: null, $y: null, $font-size: 0) {
	@if ($x) {
		margin-left: -($x * 0.5);
		margin-right: -($x * 0.5);
	}
	@if ($y) {
		margin-bottom: -$y;	
	}
	@include collapse-whitespace($selector, $font-size);
	#{$selector} {
		@if ($x) {
			padding-left: ($x * 0.5);
			padding-right: ($x * 0.5);
		}
		@if ($y) {
			margin-bottom: $y;
		}
        display: inline-block;
        vertical-align: top;
	}
}
@mixin inline-blocks-justify($selector, $x: null, $y: null, $font-size: 0) {
	text-align: justify;
	@include inline-blocks($selector, $x, $y, $font-size);
	&:after {
		content: '';
		width: 100%;
        display: inline-block;
        vertical-align: top;
	}
	#{$selector} {
		text-align: left;
	}
}

@mixin vertically-center($selector, $font-size: 0) {
	@include collapse-whitespace($selector, $font-size);
	&:before {
		content: '';
		height: 100%;
        display: inline-block;
        vertical-align: middle;
	}
	#{$selector} {
		width: 100%;
        display: inline-block;
        vertical-align: middle;
	}
}

@mixin collapse-whitespace($selector, $font-size: 0) {
	font-size: 0;
	#{$selector} {
		@include font-size($font-size);
	}
}

/* Ratio */

.ratio {
	box-sizing: content-box;
}
@mixin ratio($width, $height) {
	@extend .ratio;
	padding-top: ($height / $width) * 100%;
}
@mixin ratio-fluid($small-width, $small-height, $large-width, $large-height) {
	@extend .ratio;
	$slope: ($large-height - $small-height) / ($large-width - $small-width);
	padding-top: $slope * 100%;
	height: $small-height - $small-width * $slope;
}

/* Placeholder */

@mixin placeholder {
	&::-webkit-input-placeholder { @content }
	&:-moz-placeholder           { @content }
	&::-moz-placeholder          { @content }
	&:-ms-input-placeholder      { @content }
}

/* Arrow */

@mixin arrow($size, $color: null) {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: round($size * -0.25);
		border-style: solid;
		border-width: $size * 0.5 0 $size * 0.5 round($size * 0.25);
		@include colors(null, null, $color);
		border-top-color: transparent !important;
		border-bottom-color: transparent !important;
		border-right-color: transparent !important;
	}
}

/* Functions */

@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

/* Attach */

@mixin attach($position: before, $margin: 0.5em, $align: middle) {
	#{'&::' + $position} {
		content: '';
		@content;
		vertical-align: $align;
		@if $position == before {
			margin-right: $margin;
		} @else {
			margin-left: $margin;
		}
	}
}

/* Fonts */

@mixin font-face($name, $file, $weight: normal, $style: normal) {
    $file: '../fonts/' + $file;
    @font-face {
        font-family: '#{$name}';
        src: url('#{$file}.woff') format('woff'),
             url('#{$file}.ttf') format('ttf'),
             url('#{$file}.svg') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

/* Math */

@function math-pow($number, $exp) {
    @if (round($exp) != $exp) {
        @return math-exp($exp * math-ln($number));
    }
    $value: 1;
    @if $exp > 0 {
        @for $i from 1 through $exp {
            $value: $value * $number;
        }
    }
    @else if $exp < 0 {
        @for $i from 1 through -$exp {
            $value: $value / $number;
        }
    }
    @return $value;
}
@function math-factorial($value) {
    @if $value == 0 {
        @return 1;
    }
    $result: 1;
    @for $index from 1 through $value {
        $result: $result * $index;
    }
    @return $result;
}
@function math-summation($iteratee, $input, $initial: 0, $limit: 100) {
    $sum: 0;
    @for $index from $initial to $limit {
        $sum: $sum + call($iteratee, $input, $index);
    }
    @return $sum;
}
@function math-exp-maclaurin($x, $n) {
    $result: math-pow($x, $n) / math-factorial($n);
    @return $result;
}
@function math-exp($value) {
    $result: math-summation(math-exp-maclaurin, $value, 0, 100);
    @return $result;
}
@function math-ln-maclaurin($x, $n) {
    $result: (math-pow(-1, $n + 1) / $n) * (math-pow($x - 1, $n));
    @return $result;
}
@function math-ln($value) {
    $ten-exp: 1;
    $ln-ten: 2.30258509;
    @while ($value > math-pow(10, $ten-exp)) {
        $ten-exp: $ten-exp + 1;
    }
    $value: $value / math-pow(10, $ten-exp);
    $result: math-summation(math-ln-maclaurin, $value, 1, 100);
    @return $result + $ten-exp * $ln-ten;
}

/* Other */

@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

/* Color */

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}
@function contrast($color) {
    @return if(lightness($color) > 75%, black, white);
}