/* Media */

@mixin media($min: null, $max: null) {
	@if $min == high-dpi {
		@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) { @content; }
	} @else if $min == print {
		@media print { @content; }
	} @else {
		@if $min != null and $max != null {
			@media screen and (min-width: $min) and (max-width: $max) { @content; }
		} @else if $min != null {
			@media screen and (min-width: $min) { @content; }
		} @else if $max != null {
			@media screen and (max-width: $max) { @content; }
		} @else {
			@media screen { @content; }
		}
	}
}

/* Background */

@mixin image($name) {
	background-image: inline-image($name + '.svg');
}

/* Sprite */

%sprite {
	display: inline-block;
	background-repeat: no-repeat;
	@include hide-text;
}
@mixin sprite($name, $width, $height) {
	@extend %sprite;
	background-image: inline-image($name + '.svg');
	width: $width;
	height: $height;
}

@function sprite-position-x($name, $high-dpi: false) {
	$nth: index($sprite-1x-names, $name);
 	@return nth(nth(sprite-values($high-dpi), $nth), 1);
}
@function sprite-position-y($name, $high-dpi: false) {
	$nth: index($sprite-1x-names, $name);
 	@return nth(nth(sprite-values($high-dpi), $nth), 2);
}
@function sprite-width($name, $high-dpi: false) {
	$nth: index($sprite-1x-names, $name);
 	@return nth(nth(sprite-values($high-dpi), $nth), 3);
}
@function sprite-height($name, $high-dpi: false) {
	$nth: index($sprite-1x-names, $name);
 	@return nth(nth(sprite-values($high-dpi), $nth), 4);
}
@function sprite-offset-x($name, $high-dpi: false) {
 	@return sprite-width($name, $high-dpi) * -0.5;
}
@function sprite-offset-y($name, $high-dpi: false) {
 	@return sprite-height($name, $high-dpi) * -0.5;
}
@function sprite-values($high-dpi: false) {
 	@if $high-dpi {
		@return $sprite-2x-values;
	} @else {
		@return $sprite-1x-values;
	}
}

/* Flush */

@mixin flush { 
	> *:first-child	{
		margin-top: 0 !important;
	}
}
@mixin flush-next { 
	&:first-child + * {
		margin-top: 0 !important;
	}
}

/* Text */

@mixin font-size($value: 0) {
	@if (unitless($value)) {
		font-size: pow($font-scale, strip-units($value)) * $font-size;
		font-size: pow($font-scale, strip-units($value)) * 1rem;
	} @else {
		font-size: $value;
		font-size: ($value / $font-size) * 1rem;
	}
}
@mixin link-color($color) {
	@include link-colors(
		$color,
		$color,
		$color,
		$color,
		$color
	);
}

/* Inline Block */

@mixin inline-blocks($selector, $x: null, $y: null, $font-size: 0) {
	@if ($x) {
		margin-left: -($x * 0.5);
		margin-right: -($x * 0.5);
	}
	@if ($y) {
		margin-bottom: -$y;	
	}
	@include collapse-whitespace($selector, $font-size);
	#{$selector} {
		@if ($x) {
			padding-left: ($x * 0.5);
			padding-right: ($x * 0.5);
		}
		@if ($y) {
			margin-bottom: $y;
		}
		@include inline-block(top);
	}
}
@mixin inline-blocks-justify($selector, $x: null, $y: null, $font-size: 0) {
	text-align: justify;
	@include inline-blocks($selector, $x, $y, $font-size);
	&:after {
		content: '';
		width: 100%;
		@include inline-block(top);
	}
	#{$selector} {
		text-align: left;
	}
}

@mixin vertically-center($selector, $font-size: 0) {
	@include collapse-whitespace($selector, $font-size);
	&:before {
		content: '';
		height: 100%;
		@include inline-block(middle);
	}
	#{$selector} {
		width: 100%;
		@include inline-block(middle);
	}
}

@mixin collapse-whitespace($selector, $font-size: 0) {
	font-size: 0;
	#{$selector} {
		@include font-size($font-size);
	}
}

/* Ratio */

.ratio {
	@include box-sizing(content-box);
}
@mixin ratio($width, $height) {
	@extend .ratio;
	padding-top: ($height / $width) * 100%;
}
@mixin ratio-fluid($small-width, $small-height, $large-width, $large-height) {
	@extend .ratio;
	$slope: ($large-height - $small-height) / ($large-width - $small-width);
	padding-top: $slope * 100%;
	height: $small-height - $small-width * $slope;
}

/* Placeholder */

@mixin placeholder {
	&::-webkit-input-placeholder { @content }
	&:-moz-placeholder           { @content }
	&::-moz-placeholder          { @content }
	&:-ms-input-placeholder      { @content }
}

/* Arrow */

@mixin arrow($size, $offset: 0) {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: $offset * -1;
		right: $offset * -1;
		border: $size * 0.5 solid;
		border-color: transparent white transparent transparent;
	}
}

/* Functions */

@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

/* Attach */

@mixin attach($position: before, $margin: 0.5em, $align: middle) {
	#{'&::' + $position} {
		content: '';
		@content;
		vertical-align: $align;
		@if $position == before {
			margin-right: $margin;
		} @else {
			margin-left: $margin;
		}
	}
}