/* Fonts */

$font-family:			'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace:	Consolas, 'Courier New', Courier, monospace;
$font-size:				16px;
$font-scale:			1.15;
$line-height:			1.5;
$line-height-tight:		$line-height - 0.2;

/* Colors */

$color-source:			desaturate(#2d353c, 0%);

$color-primary:			$color-source;
$color-focus:			#00a6b5;
$color-active:			#FCB941;

$color-positive:		#09bd72;
$color-negative:		#FC6042;
$color-highlight:		#ffff00;

$color-published:		$color-positive;
$color-pending:			$color-negative;

$color-background:		tint($color-primary, 92%);
$color-foreground:		$color-source;
$color-quiet:			tint($color-foreground, 50%);
$color-quieter:			tint($color-foreground, 75%);
$color-loud:			shade($color-foreground, 20%);
$color-louder:			shade($color-foreground, 20%);
$color-shade:			tint($color-background, 75%);
$color-divide:			tint($color-foreground, 80%);
$color-input:			tint($color-foreground, 75%);

/* Sizes */

$gutter:				20px;
$radius:				0;

/* Transitions */

$speed:					0.1s;

/* Widths & Heights */

$width-1:				percentage(1 / 12);
$width-2:				$width-1 * 2;
$width-3:				$width-1 * 3;
$width-4:				$width-1 * 4;
$width-5:				$width-1 * 5;
$width-6:				$width-1 * 6;
$width-7:				$width-1 * 7;
$width-8:				$width-1 * 8;
$width-9:				$width-1 * 9;
$width-10:				$width-1 * 10;
$width-11:				$width-1 * 11;
$width-12:				$width-1 * 12;

$width-gr-s:			38%;
$width-gr-l:			62%;