/* Fonts */

$font-family:			'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace:	Consolas, 'Courier New', Courier, monospace;
$font-size:				16px;
$font-scale:			1.15;
$line-height:			1.5;
$line-height-tight:		$line-height - 0.2;

/* Colors */			

$color-dark-min:        #3b464f;
$color-dark-max:        black;

$color-light-min:       white;
$color-light-max:       desaturate($color-dark-min, 100%);

@mixin colors($foreground: null, $background: null, $border: null) {
	& {
		@if ($foreground != null) {
			color: lighten(desaturate($color-dark-min, 50%), 10%);
		}
		@if ($background != null) {
			background-color: mix($color-light-max, $color-light-min, 6% * $background);
		}
		@if ($border != null) {
			border-color: mix($color-light-max, $color-light-min, 6% * $border);
		}
	}
	@at-root #{selector-append('.dark', &)},
	.dark & {
		@if ($foreground != null) {
			color: lighten(desaturate($color-dark-min, 50%), 60%);
		}
		@if ($background != null) {
			background-color: mix($color-dark-max, $color-dark-min, 20% * $background);
		}
		@if ($border != null) {
			border-color: mix($color-dark-max, $color-dark-min, 20% * $border);
		}
	}
}

$color-primary:			#2d353c;
$color-focus:			#00a6b5;
$color-active:			#FCB941;

$color-positive:		#09bd5e;
$color-negative:		#FC6042;
$color-highlight:		#ffff00;

$color-published:		$color-positive;
$color-pending:			$color-negative;

$color-foreground:		$color-primary;
$color-background-1:	white;
$color-background:		tint($color-primary, 95%);

$color-quiet:			tint($color-foreground, 50%);
$color-quieter:			tint($color-foreground, 75%);
$color-loud:			shade($color-foreground, 20%);
$color-louder:			shade($color-foreground, 20%);
$color-shade:			tint($color-background, 75%);
$color-divide:			tint($color-foreground, 80%);

$color-input:			5;

/* Sizes */

$radius:				0;

$gutter:				20px;
$gutter-x:				$gutter * 1.25;
$gutter-y:				$gutter * 0.65;
$gutter-y-body:			$gutter * 1;
$gutter-x-sidebar:		$gutter;

$input-border-width:	1px;
$input-padding: 		6px;
$input-padding-horiz:	$input-padding + 4px;
$input-height:			round($font-size * $line-height)
						+ ($input-padding * 2)
						+ ($input-border-width * 2);
$input-toggle-size:		$input-height - 10px;

/* Transitions */

$speed:					0.2s;

/* Widths & Heights */

$width-1:				percentage(1 / 12);
$width-2:				$width-1 * 2;
$width-3:				$width-1 * 3;
$width-4:				$width-1 * 4;
$width-5:				$width-1 * 5;
$width-6:				$width-1 * 6;
$width-7:				$width-1 * 7;
$width-8:				$width-1 * 8;
$width-9:				$width-1 * 9;
$width-10:				$width-1 * 10;
$width-11:				$width-1 * 11;
$width-12:				$width-1 * 12;

$width-gr-s:			38%;
$width-gr-l:			62%;