@charset 'utf-8';

/* Configuration */

@import 'compass.scss';
@import 'compass/layout.scss';

/* Partials */

@import '_variables.scss';
@import '_utilities.scss';
@import '_icons.scss';
@import '_fonts.scss';
@import '_base-shared.scss';
@import '_modules-shared.scss';

/* Styles */

body[style] {
	background-color: transparent;
	padding-left: $gutter !important;
	padding-right: $gutter !important;
	padding-top: $gutter !important;
	margin: 0;
}

body > *:first-child {
	margin-top: 0 !important;
}

/* Header */

#{headers(1, 6)} { 
	font-weight: bold;
	color: $color-loud;
	margin: $gutter 0 0 0;
}
h1 { 
	@include font-size(6);
}
h2 { 
	@include font-size(5);
}
h3 { 
	@include font-size(4);
}
h4 { 
	@include font-size(3);
}
h5 { 
	@include font-size(2);
}
h6 { 
	@include font-size(1);
}

/* Link */

a { 
	@include link-color($color-focus);
}

/* Table */

table { 
	width: 100%;
	margin: $gutter 0 0 0;
	border-collapse: collapse;
	border-color: #d2d2d2 !important;
	th, td {
		font-family: inherit;
		font-size: inherit;
		padding: 4px 8px;
		border-color: #d2d2d2 !important;
	}
}

/* Widget */

div[data-chalk] {
	margin: $gutter 0 0 0;
	margin-left: $gutter * -1;
	margin-right: $gutter * -1;
	border: solid;
	@include colors(null, null, $color-input);
	border-width: 1px 0;
	padding: 0.5em $gutter;
	cursor: pointer;
	&:hover {
		@include colors(null, 0.5);
	}
	& + & {
		margin-top: 0;
		border-top: 0;
	}
}
