/* Page */

html { 
	background: $color-background;
	overflow-y: none;
}
html, body {
	margin: 0;
	height: 100%;
}

/* Structure */

.frame {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	> * {
		display: flex;
		flex-direction: column;
	}
	.fill {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		> .flex {
			flex: 1;
		}
	}
}
.sidebar {
	width: 280px;
	background: $color-primary;
	&, a {
		@include link-color(tint($color-primary, 80%));
	}
	.toggle {
		background: shade($color-primary, 30%);
		margin: 0;
		@include no-bullets;
		@include inline-blocks('li');
		&, a {
			@include link-color(tint($color-primary, 80%));
		}
		li {
			width: $width-6;
		}
		a {
			text-decoration: none;
			padding: $gutter;
			display: block;
			&:hover, &:focus {
				background: shade($color-primary, 50%);
			}
			&.active {
				background: $color-primary;
			}
		}
	}
	.pad {
		padding: $gutter $gutter 0 $gutter;
		@include flush;
	}
	.body {
		position: relative;
	}
}
.main {
	flex: 1;
	.topbar {
		padding: $gutter $gutter * 1.5;
		background: $color-shade;
		@include flush;
		.toolbar {
			float: right;
			&:first-child {
				float: left;
			}
		}
	}
	.body {
		padding: $gutter $gutter * 1.5;
	}
}
.body {
	flex: 1;
	overflow: auto;
	@include flush;
}
.title {
	margin-top: 0;
	text-align: center;
	font-weight: 500;
}
.center {
	width: 100%;
	height: 100%;
	background: $color-shade;
	text-align: center;
	@include vertically-center('> div');
	> div {
		width: auto;
		text-align: left;
	}
	.footer {
		background-color: transparent;
	}
}

.login {
	max-width: 300px;
	background-color: white;
	padding: $gutter;
}

/* Footer */

.footer	{
	background: shade($color-primary, 45%);
	text-align: center;
	padding: $gutter * 0.5;
	@include font-size(-2);
	@include flush;
	&, a {
		@include link-color(tint($color-primary, 30%));
	}	
}