@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0 1em;
	color: #4d545d;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6, th, strong, b {
	font-weight: 400;
}

h1 {
	font-size: 1.75em;	
}

h2 {
	font-size: 1.6em;	
}

h3 {
	font-size: 1.45em;	
}

h4 {
	font-size: 1.3em;	
}

h5 {
	font-size: 1.15em;
}

h6 {
	font-size: 1em;	
}

a:link, a:visited, a:hover {
	color: #00a6b5;
}