@charset 'utf-8';

/* Configuration */

@import 'compass.scss';
@import 'compass/layout.scss';

/* Partials */

@import '_fonts.scss';

/* Styles */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 1em;
	color: #4d545d;
	font-weight: normal;
}

body > *:first-child {
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6, th, strong, b {
	font-weight: bold;
}

h1 {
	font-size: 1.75em;	
}

h2 {
	font-size: 1.6em;	
}

h3 {
	font-size: 1.45em;	
}

h4 {
	font-size: 1.3em;	
}

h5 {
	font-size: 1.15em;
}

h6 {
	font-size: 1em;	
}

a:link, a:visited, a:hover {
	color: #00a6b5;
}

table {
	width: 100%;
}

hr {
	border: 0;
	border-top: 1px solid #dddee0;
}

.ayre-widget {
	border: 1px dotted #cdcfd2;
	padding: 10px;
}