/* General */

* {
	@include box-sizing(border-box); 
}	
html {
	@include experimental(text-size-adjust, 100%);
	font-size: $font-size;
	line-height: $line-height;
	font-family: $font-family;
	color: $color-foreground;
	font-weight: 300;
}

/* Header */

#{headers(1, 6)} { 
	font-weight: normal;
	color: $color-loud;
	margin: $spacing 0 0 0;
	line-height: $line-height-tight;
}
h1 { 
	@include font-size(4);
}
h2 { 
	@include font-size(3);
}
h3 { 
	@include font-size(2);
}
h4 { 
	@include font-size(1);
}
h5 { 
	@include font-size(1);
}
h6 { 
	@include font-size(1);
}

/* Paragraph */

p { 
	margin: $spacing 0 0 0;
	&.summary { 
		@include font-size(1);
	}
	&.details { 
		color: $color-quiet;
		margin-top: 0;
	}
}

/* List */

ul, ol { 
	margin: $spacing 0 0 0;
	padding: 0;
	ul, ol { 
		margin-top: 0;
	}
	li { 
		margin: 0 0 0 $gutter;
	}
}
ul { 
	list-style: disc;
	ul { 
		list-style: circle;
		ul { 
			list-style: square;
		}
	}
}
ol { 
	list-style: decimal;
	ol { 
		list-style: lower-alpha;
		ol { 
			list-style: lower-roman;
		}
	}
}
dl { 
	margin: $spacing 0 0 0;
	dt { 
		font-weight: 500;
		float: left;
		width: (100px - $gutter);
	}
	dd { 
		margin-left: 100px;
	}
}

/* Link */

a { 
	@include link-colors(
		$color-primary,
		shade($color-primary, 10%),
		shade($color-primary, 10%),
		$color-primary,
		shade($color-primary, 10%)
	);
	@include transition(all $speed ease);
	text-decoration: underline;
}

/* Emphasised & Marked */

em, i { 
	font-style: oblique;
}
strong, b { 
	font-weight: 500;
}
mark { 
	background-color: $color-highlight;
	@include border-radius(2px);
}

/* Quote */

blockquote { 
	font-style: oblique;
	margin: $spacing 0 0 0;
	padding: 0 $gutter;
	border-left: 1px solid $color-divide;
	@include flush;
}
q { 
	quotes: '\201C' '\201D' '\2018' '\2019';
	&:before { 
		content: open-quote;
	}
	&:after { 
		content: close-quote;
	}
}

/* Preformatted & Code */

pre, code { 
	font-family: $font-family-monospace;
	@include font-size;
	@include border-radius($radius);
}
pre { 
	margin: $spacing 0 0 0; padding: $gutter;
	@include experimental(tab-size, 4);
	background: $color-shade;
}
code { 
	padding: 0 0.2em;
}
pre code { 
	padding: 0;
}

/* Abbreviation */

abbr { 
	border-bottom: 1px dotted;
	cursor: help;
}

/* Superscript & Subscript */

sup { 
	vertical-align: super;
	vertical-align: 5px;
}
sub { 
	vertical-align: sub;
	vertical-align: -3px;
}

/* Deleted & Inserted */

del, strike { 
	text-decoration: line-through;
}
ins, u { 
	text-decoration: underline;
}

/* Note & Error */

small { 
	color: $color-quiet;
	font-size: inherit;
}
.error { 
	color: $color-negative;
}

/* Label */

.label {
	background-color: $color-positive;
	color: white;
	font-weight: 500;
	@include font-size(-2);
	border-radius: 100px;
	padding: 2px 5px 4px 5px;
	vertical-align: 3px;
}

/* Icons */

i.fa {
	margin-right: 0.25em;
}

/* Rule */

hr { 
	margin: $spacing 0;
	border: 0;
	border-top: 1px solid $color-divide;
}

/* Image */

img, svg { 
	display: inline-block;
	vertical-align: middle;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
svg {
	max-height: 100%;
}
.image {
	margin: $spacing 0 0 0;
	img, svg {
		display: block;
	}
	img {
		width: 100%;
		height: auto;
	}
}

/* Audio */

audio {
	display: inline-block;
	vertical-align: middle;
}
.audio {
	margin: $spacing 0 0 0;
	audio, object, .audio-message {
		display: block;
		width: 100%;
	}
	.audio-message {
		background: $color-shade;
		text-align: center;
		padding: $gutter;
	}
}

/* Video */

video {
	display: inline-block;
	vertical-align: middle;
}
.video {
	margin: $spacing 0 0 0;
	position: relative;
	video, object, .video-message {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.video-message {
		background: $color-shade;
		@include vertically-center(span);
		span {
			text-align: center;
			padding: $gutter;
		}
	}
	.ratio {
		display: block !important;
	}
}

/* Figures */

figure { 
	margin: $spacing 0 0 0;
	@include flush;
	figcaption { 
		@include font-size(-2);
		margin: $spacing * 0.4 0 0 0;
		display: block;
	}
}

/* Thumbs */

.thumbs {
	@include no-bullets;
	@include inline-blocks('li', $gutter, $gutter);
	li {
		width: $width-2;
		@include flush;
		&.intro {
			width: $width-12;
			text-align: center;
			color: $color-quiet;
			padding: 100px 0;
		}
	}
	a {
		text-decoration: none;
	}
	.filters + & {
		margin-top: $gutter;
	}
}
.thumb {
	.preview {
		background-color: tint($color-primary, 75%);
		position: relative;
		&:before {
			content: '';
			display: block;
			@include ratio(1px, 1px);
		}
		img, 
		.text, 
		.progress {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: auto;
		}
		.text {
			text-align: center;
			@include vertically-center('span');
			span {
				text-transform: uppercase;
				@include font-size(40px);
				color: white;
			}
		}
		.progress {
			.status {
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				overflow: hidden;
				background-color: $color-activity;
				@include transition(height $speed linear);
			}
		}
	}
	figcaption {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

/* Table */

$table-border: 1px solid $color-divide;
$table-border-light: 1px solid $color-shade;

table { 
	width: 100%;
	margin: $spacing 0 0 0;
	border-spacing: 0;
	border: $table-border;
	@include border-radius($radius);
	tr {
		th, td {
			border-top: $table-border-light;
			border-left: $table-border-light;
			&:first-child {
				border-left: 0;
			}
		}
		&:first-child {
			th, td {
				border-top: 0;
			}
		}
	}
	thead {
		tr:last-child {
			th, td {
				border-bottom: $table-border;
			}
		}
	}
	tfoot {
		tr:first-child {
			th, td {
				border-top: $table-border;
			}
		}
	}
	th, td { 
		vertical-align: top;
		padding: 4px 8px;
	}
	th { 
		font-weight: 500;
		text-align: left;
		color: $color-loud;
	}
	tbody {
		th, td { 
			@include transition(all $speed ease);
		}
		tr:hover { 
			th, td { 
				background: $color-shade;
			}
		}
	}
	caption { 
		@include font-size(-1);
		font-style: oblique;
		text-align: right;
		margin: $spacing * 0.5 0 0 0;
		caption-side: bottom;
	}
}

/* Input */

/* Because line-height on form elements is ignored by Firefox, using padding-top/bottom
   creates height inconsistencies, therefore we leave padding at 0px and explictly set
   the height, to ensure height and vertical-alignment consistency. Text is vertically
   aligned in the center automatically by the browser (except selects in Firefox) */
$input-border-width:	1px;
$input-padding: 		6px;
$input-height:			round($font-size * $line-height)
						+ ($input-padding * 2)
						+ ($input-border-width * 2);

input,
select,
textarea,
button,
.button { 
	@include transition(all $speed ease);
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea,
select { 
	@include font-size(0);
	font-family: $font-family;
	color: $color-foreground;
	text-align: left;
	font-weight: 300;
	height: $input-height;
	line-height: $input-height - ($input-border-width * 2);
	vertical-align: baseline;
	width: $width-12;
	margin: 0;
	padding: 0 $input-padding + 3px;
	background-color: white;
	border: $input-border-width solid;
	border-color: tint($color-primary, 75%);
	@include border-radius($radius);
	outline: 0;
	-webkit-appearance: none;
	&[disabled] {
		background-color: $color-shade;
	}
	&:focus:invalid {
		border-color: $color-negative;
		@include box-shadow(tint($color-negative, 20%) 0 0 6px 0);
	}
	@include placeholder {
		color: $color-quiet;
	}
}
input[type=radio],
input[type=checkbox] { 
	vertical-align: 1px;
}

select { 
	width: auto;
	optgroup {
		@include font-size(0);
		font-family: $font-family;
		font-style: normal;
		font-weight: normal;
		color: $color-quiet;
		text-indent: 3px;
		option {
			color: $color-foreground;
		}
	}
	padding-right: 0;
	/* Include an arrow icon for WebKit */
	@media (-webkit-min-device-pixel-ratio: 0) {
		@include image-raster(select-arrow);
		background-position: 100% 50%;
		background-repeat: no-repeat;
		padding-right: 22px;
	}
	/* Fix Firefox not vertically centering text */
	@media (min--moz-device-pixel-ratio: 0) {
		/* Replicate the problem line-height value from the default CSS, in case
		   it's changed in future, to avoid knock-on effects from this fix */
		line-height: normal !important;
		padding: $input-padding + 1px;
	}
}
textarea { 
	min-height: 200px;
	height: 300px;
	display: block;
	overflow: auto;
	resize: vertical;
	line-height: $line-height;
	padding-top: $input-padding;
	padding-bottom: $input-padding;
}

input[type=reset],
input[type=submit],
input[type=button],
button,
.button { 
	font-family: $font-family;
	@include font-size;
	height: $input-height;
	line-height: $input-height - ($input-border-width * 2);
	vertical-align: baseline;
	width: auto;
	padding: 0 $input-padding + 9px;
	margin: 0;
	color: white;
	background-color: $color-positive;
	border: $input-border-width solid;
	border-color: $color-positive;
	@include border-radius($radius);
	outline: 0;
	cursor: pointer;
	text-decoration: none;
	-webkit-appearance: none;
	&:hover { 
		background-color: shade($color-positive, 20%);
		border-color: shade($color-positive, 20%);
	}
	&:active { 
		background-color: shade($color-positive, 20%);
		border-color: shade($color-positive, 20%);
	}
}
.button { 
	display: inline-block;
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea,
select { 
	&:focus {
		border-color: tint($color-primary, 50%);
	}
}

input,
select,
select option,
select optgroup,
textarea,
button,
.button {
	&[disabled], &.disabled {
		@include experimental(user-select, none);
		pointer-events: none;
		cursor: default;
		color: $color-quiet;
		opacity: 0.75;
	}
}

::-moz-focus-inner {
	border: 0;
	padding: 0;
}
::-webkit-search-decoration,
::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
::-ms-clear {
	display: none;
}

/* Form */

form { 
	margin: $spacing 0 0 0;
	padding: 0;
	@include flush;
}
fieldset { 
	margin: $spacing 0 0 0;
	padding: 0;
	@include flush; 
	border: 0;
}
legend { 
	display: none;
}

.form-item { 
	margin: $spacing 0 0 0;
	+ .form-item {
		margin-top: round($spacing * 0.5);
	}
	> label {
		color: $color-loud;
		display: block;
	}
	> div { 
		margin: round($spacing  * 0.25) 0 0 0;
		p { 
			@include font-size(-1);
			margin-top: round($spacing  * 0.25);
			line-height: $line-height-tight;
			& + p {
				margin-top: 0;
			}
		}
		label{ 
			padding-right: 0.5em;
		}
	}
	&.required {
		> label:after {
			content: '✱';
			color: tint($color-quiet, 30%);
			margin-left: 0.25em;
		}
	}
	@include media(960px) {
		$label-width: 160px;
		clear: both;
		> label { 
			float: left;
			width: ($label-width - $gutter);
			margin: $input-padding + $input-border-width 0 0 0;
			text-align: right;
			&.shallow { 
				margin-top: 0;
			}
		}
		> div { 
			margin-left: $label-width;
		}
		&.required {
			> label:before {
				content: '✱';
				color: tint($color-quiet, 70%);
				margin-right: 0.25em;
			}
			> label:after {
				content: none;
			}
		}
	}
}

/* Links */

.links {
	ul {
		@include no-bullets;
		@include collapse-whitespace(li);
		li {
			margin-left: round($gutter * 0.5);
			padding-left: round($gutter * 0.5);
			border-left: 1px solid;
			@include inline-block(top);
			&:first-child {
				margin-left: 0;
				padding-left: 0;	
				border-left: 0;
			}	
		}
	}
}

/* Toolbar */

.toolbar {
	@include no-bullets;
	@include inline-blocks('li', $gutter);
	&:first-child {
		float: right;
		@include flush-next;
	}
}

/* Filters */

.filters {
	margin-top: $gutter;
	@include no-bullets;
	@include inline-blocks('li');
	li {
		width: 20%;
		& + li div {
			border-left: 0;
		}
	}
	div {
		height: $input-height;
		line-height: $input-height - ($input-border-width * 2);
		vertical-align: baseline;
		padding: 0 $input-padding + 9px;
		border: 1px solid tint($color-primary, 75%);
		color: $color-quiet;
	}
}

/* Upload */

.upload {
	.upload-input {
		display: none;
	}
}