/* Page */

html { 
	background: $color-background;
	overflow-y: none;
}
html, body {
	margin: 0;
	height: 100%;
}

/* Frame */

.frame {
	display: table;
	width: 100%;
	height: 100%;
	> * {
		display: table-row;
		> * {
			display: table-cell;
		}
	}
}

/* Header */

.header {
	height: 0;
	background: $color-shade;
}

/* Toggle */

.toggle {
	width: 280px;
	background: shade($color-primary, 30%);
	@include no-bullets;
	@include inline-blocks('li');
	&, a {
		@include link-color(tint($color-primary, 80%));
	}
	li {
		width: $width-6;
	}
	a {
		text-decoration: none;
		padding: $gutter;
		display: block;
		i {
			margin-right: 0.25em;
		}
		&:hover, &:focus {
			background: shade($color-primary, 50%);
		}
		&.active {
			background: $color-primary;
		}
	}
}

/* Toolbar */

.topbar {
	padding: $gutter $gutter * 1.5;
	@include flush;
	.toolbar:first-child {
		float: right;
		@include flush-next;
	}
	.title {
		font-weight: 500;
	}
	&, a {
		@include link-color($color-primary);
	}
	a {
		@include hover-link;
	}
}

/* Sidebar */

.sidebar {
	background: $color-primary;
	padding: $gutter;
	@include flush;
	&, a {
		@include link-color(tint($color-primary, 80%));
	}
}

.nav {
	@include no-bullets;
	li {
		border-top: 1px solid transparentize(white, 0.8);
		padding: 5px 0;
		&:first-child {
			border-top: 0;
			padding-top: 0;
		}
	}
	a {
		@include hover-link;
	}
}

/* Main */

.main {
	overflow: auto;
	padding: $gutter $gutter * 1.5;
	@include flush;
}

/* Footer */

.footer	{
	text-align: right;
	margin: $gutter 0 0 0;
	border-top: 1px solid tint($color-divide, 30%);
	padding-top: $gutter * 0.5;
	@include flush;
	@include font-size(-1);
	&, a {
		@include link-color(tint($color-quiet, 30%));
	}
}