/* Page */

html { 
	background: $color-shade;
	overflow-y: scroll;
	@include media(960px) {
		background: $color-background;
	}
}
body {
	margin: 0;
}
.wrap { 
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
@mixin page-padding {
	padding-left: $gutter;
	padding-right: $gutter;
	@include media(960px) {
		padding-left: $gutter * 2;
		padding-right: $gutter * 2;
	}
}

/* Header */

.header {
	padding: $gutter 0;
	background: $color-shade;
	color: $color-quiet;
	.logo {
		vertical-align: middle;
		@include sprite-vector(logo);
	}
	a {
		@include hover-link;
		color: $color-quiet;
	}
	@include media(960px) {
		padding: $gutter * 1.5 0;
		.links {
			position: absolute;
			top: 0;
			right: 0;
			ul {
				margin: 0;
			}
		}
	}
	@include media(print) {
		display: none;
	}
	@include page-padding;
}

/* Navigation */

.nav {
	background: shade($color-shade, 7%);
	ul {
		margin-top: 0;
		@include no-bullets;
		@include inline-blocks('li', $gutter * 2);
	}
	li {
		a {
			display: block;
			padding: round($gutter * 0.5) 0;
			text-decoration: none;
			@include font-size(1);
			@include link-color($color-foreground);
		}
		&.active a, a:focus, a:hover, a:active { 
			@include link-color($color-primary);
		}
		.active a {

		}
	}
	@include media(print) {
		display: none;
	}
	@include page-padding;
}

/* Main */

.main {
	padding: $gutter 0;
	background: $color-background;
	.wrap {
		@include flush;
	}
	@include media(960px) {
		padding: $gutter * 2 0;
	}
	@include page-padding;
}

/* Footer */

@include media(960px) {
	@include sticky-footer(110px, '.outer', '.outer-footer', '.footer');
}
.footer	{
	padding: $gutter 0;
	background: $color-shade;
	color: $color-quiet;
	.wrap {
		@include flush;
	}
	p, ul {
		margin-top: 0;
	}
	a {
		@include hover-link;
		color: $color-quiet;
	}
	&, .links li {
		@include font-size(-1);
	}
	@include media(960px) {
		padding: $gutter * 1.5 0;
		p, ul {
			margin-top: round($spacing * 0.25);
		}
		.credit	{
			float: right;
			@include flush-next;
		}
	}
	@include media(print) {
		display: none;
	}
	@include page-padding;
}

/* Cookies */

.js-cookies {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding: $gutter * 0.75;
	background: black;
	background: transparentize(black, 0.2);
	text-align: center;
	line-height: $line-height-tight;
	@include font-size(-2);
	@include transition(all 0.5s ease-in-out);
	&, a, strong {
		color: #fff;
	}
	&.js-cookies-out {
		opacity: 0;
	}
	@include media(960px) {
		bottom: $gutter; 
		left: $gutter;
		right: auto;
		width: 250px;
		text-align: left;
		line-height: $line-height;
		@include border-radius($radius);
	}
}