@charset 'utf-8';

/* Configuration */

@import 'compass.scss';
@import 'compass/layout.scss';

/* Partials */

@import '_utilities.scss';
@import '_variables.scss';

/* Headers */

.demo-header {
	border-bottom: 1px solid $color-divide;
	font-weight: bold;
	margin: $spacing * 2 0;
}

/* Columns */

.demo-cols {
	margin: $spacing * 2 0;
	> div:first-child {
		@include flush;
	}
}
@include media(960px) {
	.demo-cols {
		margin: $spacing * 2 0;
		@include inline-blocks('> div', $gutter * 2, $gutter);
		> div {
			@include flush;
		}
	}
	.demo-col-half {
		width: $width-6;
	}
	.demo-col-fourth {
		width: $width-3;
	}
	.demo-col-third {
		width: $width-4;
	}
	.demo-col-sixth {
		width: $width-2;
	}
}

/* Tests */

.demo-grid {
	margin: $spacing 0 0 0;
	.demo-grid-filler {
		margin: $spacing 0 0 0;
		height: 100px;
		@include background-with-css2-fallback(linear-gradient(top left, color-stops(
			tint(gray, 80%),
			tint(gray, 40%)
		)), tint(gray, 80%));
		@include border-radius($radius);
	}
	> div:first-child {
		@include flush;
	}
	@include media(640px) {
		@include inline-blocks('> div', $gutter * 0.5, $gutter * 0.5);
		> div {
			@include flush;
			width: $width-6;
		}
	}
	@include media(960px) {
		> div {
			width: $width-2;
		}
	}
}

/* Sprites & Backgrounds */

.demo-sprite-raster {
	@include sprite-raster(tick);
	vertical-align: middle;
}
.demo-sprite-raster-attach {
	@include attach { @include sprite-raster(tick) };
}
.demo-sprite-vector {
	@include sprite-vector(tick);
	vertical-align: middle;
}
.demo-sprite-vector-attach {
	@include attach { @include sprite-vector(tick) };
}
.demo-image-raster {
	@include image-raster(tick);
	display: inline-block;
	width: 160px;
	height: 32px;
}
.demo-image-vector {
	@include image-vector(tick);
	background-size: 48px 48px;
	display: inline-block;
	width: 192px;
	height: 48px;
	.old-ie & {
		width: 160px;
		height: 32px;
	}
}

/* Forms */

.demo-input {
	width: 100px !important;
}